<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title>Playground PHP DinamoDB</title>

    {% block stylesheets %}
      <link href="javascript/dist/main.css" rel="stylesheet">
    {% endblock %}

    {% block scripts %}
      <script src="javascript/dist/main.js"></script>
    {% endblock %}
  </head>
  <body>
    <header class="bg-indigo-700">
      <div class="px-8 py-8 lg:container lg:mx-auto">
         <h1 class="text-white"><a href="/">Playground PHP DynamoDB</a></h1>
      </div>
    </header>
    {% block content %}
    {% endblock %}
  </body>
</html>
